.nav{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid red;

}
.nav_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right_wrap li{
    text-decoration: none;
    list-style-type: none;
    display:inline-flex ;
}
.right_wrap_ul{
    font-size: 18px;
}
.right_wrap_ul li{
    padding-right: 40px;
}
.right_wrap_ul a{
    text-decoration: none;
    color: #000;
}
.right_wrap_ul a:hover{
color: #b2b2b2;
}